.nav-bar-lateral {
    list-style: none;
    flex-direction: column;
    position: fixed;
    z-index: 3;
    display: table-column;
    justify-content: center;
    width: 15px;
    height: 78px;
    left: 94vw;
    top: 50vh;
    opacity: 0;
    transition: opacity 0.7s linear;
    pointer-events: none;
}

.nav-bar-lateral.active {
    opacity: 1;
    display: block;
    pointer-events: visible;
}

.nav-bar-lateral a {
    margin: 5px 0 0 0;
    border-radius: 50%;
    background-color: #96B6D6;
    text-decoration: none;
    display: flex;
    justify-content: center;
    min-width: 15px;
    min-height: 15px;
    transition: all 0.7s;
}

.nav-bar-lateral a.active {
    background-color: #466380;
}