.skills {
    width: 100%;
    text-align: center;
}

.container-content-skills {
    margin: 0 20vw 0 20vw;
}

.skills-h1 {
    color: var(--fontBlack);
    margin-top: 120px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    display: flex;
    letter-spacing: .185em;
}

.skills-container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skills-child {
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    min-width: 150px;
    flex-basis: 25%;
    padding: 40px 0;
}

.skill-image {
    margin-bottom: 30px;
    height: 70px;
}

.separator-image-skills {
    margin-top: 41px;
    width: -webkit-fill-available;
}

.skills-h3 {
    color: var(--fontBlack);
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

@media only screen and (min-width:2000px) and (max-width: 2385px) {}

@media only screen and (min-width:1750px) and (max-width: 1999px) {}

@media only screen and (min-width:1400px) and (max-width: 1749px) {}

@media only screen and (min-width:1000px) and (max-width: 1399px) {}

@media only screen and (min-width: 768px) and (max-width: 999px) {}


/* All Mobile Sizes (devices and browser) */

@media only screen and (max-width: 767px) {}


/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .skills {
        margin: 0 0 0 0;
        width: 100%;
        text-align: center;
    }
    .skills-h1 {
        margin-top: 120px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 37px;
        display: flex;
        letter-spacing: .185em;
    }
    .skills-container {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .skills-child {
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        min-width: 150px;
        flex-basis: 25%;
        padding: 40px 0;
    }
    .skill-image {
        margin-bottom: 30px;
        height: 70px;
    }
    .skills-h3 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 29px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .container-content-skills {
        margin: 0 10vw 0 10vw;
    }
}


/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */

@media only screen and (max-width: 479px) {
    .skills {
        margin: 0 0 0 0;
        width: 100%;
        text-align: center;
    }
    .skills-h1 {
        margin-top: 120px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 37px;
        display: flex;
        letter-spacing: .185em;
    }
    .skills-container {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .skills-child {
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        min-width: 150px;
        flex-basis: 25%;
        padding: 40px 0;
    }
    .skill-image {
        margin-bottom: 30px;
        height: 70px;
    }
    .skills-h3 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 29px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .container-content-skills {
        margin: 0 0 25vh 0;
    }
}