@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Montseerat", sans-serif;
}

html {
    -webkit-tap-highlight-color: transparent;
    --bgBlack: #121B24;
    --bgWhite: #f5f5f5;
    --fontBlack: #121B24;
    --fontWhite: #f5f5f5;
    --imagesLink: #466380;
    --components: #121B24;
}

main {
    background-color: var(--bg);
}

body {
    background-color: var(--bg);
}