.about-me {
    left: 55vw;
    position: absolute;
    top: 25vh;
    margin-top: 4vh;
    width: 40%;
    text-align: center;
    animation-fill-mode: forwards;
    animation: slidetext 0.8s ease-in-out;
}

.about-me svg {
    display: none;
}

.about-me h4 {
    display: none;
}

.contents-aboutme {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contents-aboutme p {
    text-align: initial;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 36px;
    color: var(--fontwhite);
    animation-fill-mode: forwards;
    animation: slidetext 0.8s ease-in-out;
}

@keyframes slidetext {
    0% {
        opacity: 0;
        left: 56vw;
    }
    100% {
        opacity: 1;
        left: 55vw;
    }
}

@media only screen and (min-width:2000px) and (max-width: 2385px) {}

@media only screen and (min-width:1750px) and (max-width: 1999px) {}

@media only screen and (min-width:1400px) and (max-width: 1749px) {
    .about-me {
        left: 56vw;
    }
    .contents-aboutme p {
        font-size: 25px;
        line-height: 28px;
    }
    @keyframes slidetext {
        0% {
            opacity: 0;
            left: 57vw;
        }
        100% {
            opacity: 1;
            left: 56vw;
        }
    }
}

@media only screen and (min-width:1000px) and (max-width: 1399px) {
    .about-me {
        left: 57vw;
    }
    .contents-aboutme p {
        font-size: 18px;
        line-height: 21px;
    }
    @keyframes slidetext {
        0% {
            opacity: 0;
            left: 58vw;
        }
        100% {
            opacity: 1;
            left: 57vw;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 999px) {
    .about-me {
        left: 59vw;
    }
    .contents-aboutme p {
        font-size: 16px;
        line-height: 20px;
    }
    @keyframes slidetext {
        0% {
            opacity: 0;
            left: 60vw;
        }
        100% {
            opacity: 1;
            left: 59vw;
        }
    }
}


/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .about-me svg {
        display: block;
    }
    .about-me h4 {
        display: block;
    }
    .about-me {
        position: inherit;
        margin: 25vh auto;
        width: 90%;
        text-align: center;
    }
    .contents-aboutme {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contents-aboutme p {
        text-align: left;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 30px;
        color: var(--fontblack);
    }
}


/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */

@media only screen and (max-width: 479px) {
    .about-me svg {
        display: block;
    }
    .about-me h4 {
        display: block;
    }
    .about-me {
        position: inherit;
        margin: 30vh auto;
        width: 90%;
        text-align: center;
    }
    .contents-aboutme {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contents-aboutme p {
        text-align: left;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        color: var(--fontblack);
    }
}