@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Montseerat", sans-serif;
    -webkit-tap-highlight-color: transparent;
}

html {
    --bgblack: #121B24;
    --bgwhite: #F5F5F5;
    --fontblack: #121B24;
    --fontwhite: #f5f5f5;
    --imageslink: #466380;
    --components: #121B24;
    --font-black-menu: #121B24;
}

body {
    background-color: var(--bgwhite);
    transition: background-color 500ms;
}