.modal h2 {
    color: var(--fontblack);
    font-weight: 700;
    font-size: 1.5rem;
}

.modal h4 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 3.2rem;
    margin-top: 1.6rem;
    color: var(--fontblack);
    border-bottom: 1px solid var(--fontblack);
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: var(--bgwhite);
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 0.3rem;
    outline: 0;
}

.modal img {
    max-width: 100%;
    height: auto;
}

.modal p {
    color: var(--fontblack);
    padding-top: 0.5rem;
    line-height: 1.28rem;
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

.modal span {
    font-weight: 700;
}

.btn-secondary {
    font-weight: 700;
    color: var(--fontblack);
    background-color: var(--fontblack);
    border-color: var(--fontwhite);
}